<nav>
  <div>
    <a href="#">O nas</a>
    <a href="#">FAQ</a>
    <a href="#">Kontakt</a>
  </div>
  <div>
    <span>Logowanie</span>
    <fa-icon [icon]="faFacebookF" [style]="{'font-size':'1em', 'margin-left':'1rem'}"/>
    <fa-icon [icon]="faLinkedinIn" [style]="{'font-size':'1em', 'margin-left':'1rem'}"/>
    <fa-icon [icon]="faXTwitter" [style]="{'font-size':'1em', 'margin-left':'1rem'}"/>
  </div>
</nav>
<div class="logo">
  <fa-icon [icon]="faIdCard" [style]="{'font-size':'2em', margin:'0.5rem'}"/>
  <div>
    <span class="logo-text">RESUMEO</span>
    <span class="slogan">OSCZĘDZAJ CZAS, NIE TALENTY</span>
  </div>
</div>

