/* You can add global styles to this file, and also import other style files */

/* Import font */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../public/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
}
